Library Data

In [1]:
from pathlib import Path
import pandas as pd
import glob
import chardet

In [2]:
for csv in sorted(glob.glob("../Project_3/Library_Data/*.csv")):
        year = csv[31:35]
        print(f'filename: {csv} year: {year}')

filename: ../Project_3/Library_Data\pupld2002a.csv year: 2002
filename: ../Project_3/Library_Data\pupld2003a.csv year: 2003
filename: ../Project_3/Library_Data\pupld2004a.csv year: 2004
filename: ../Project_3/Library_Data\pupld2005a.csv year: 2005
filename: ../Project_3/Library_Data\pupld2006a.csv year: 2006
filename: ../Project_3/Library_Data\pupld2007a.csv year: 2007
filename: ../Project_3/Library_Data\pupld2008a.csv year: 2008
filename: ../Project_3/Library_Data\pupld2009a.csv year: 2009
filename: ../Project_3/Library_Data\pupld2010a.csv year: 2010
filename: ../Project_3/Library_Data\pupld2011a.csv year: 2011
filename: ../Project_3/Library_Data\pupld2012a.csv year: 2012
filename: ../Project_3/Library_Data\pupld2013a.csv year: 2013
filename: ../Project_3/Library_Data\pupld2014a.csv year: 2014

In [3]:
dfs = [] 
counter = 1

for csv in sorted(glob.glob("../Project_3/Library_Data/*.csv")):
  year = csv[31:35] 
  data = pd.read_csv(csv) 
  data['year'] = year 
  print(f'{counter} Saving {len(data)} rows from {csv}')
  dfs.append(data)
  counter += 1

print(f'Number of saved DataFrames: {len(dfs)}')

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (10,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

1 Saving 9141 rows from ../Project_3/Library_Data\pupld2002a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (10,13,106) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

2 Saving 9214 rows from ../Project_3/Library_Data\pupld2003a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13,124) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

3 Saving 9210 rows from ../Project_3/Library_Data\pupld2004a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

4 Saving 9201 rows from ../Project_3/Library_Data\pupld2005a.csv
5 Saving 9211 rows from ../Project_3/Library_Data\pupld2006a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (132) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

6 Saving 9217 rows from ../Project_3/Library_Data\pupld2007a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13,132,145) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

7 Saving 9284 rows from ../Project_3/Library_Data\pupld2008a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

8 Saving 9299 rows from ../Project_3/Library_Data\pupld2009a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13,149) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

9 Saving 9308 rows from ../Project_3/Library_Data\pupld2010a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (14,149,152) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

10 Saving 9315 rows from ../Project_3/Library_Data\pupld2011a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13,151) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

11 Saving 9305 rows from ../Project_3/Library_Data\pupld2012a.csv

C:\Users\LabUser\AppData\Local\Temp\ipykernel_17028\2977903781.py:6: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv)

12 Saving 9309 rows from ../Project_3/Library_Data\pupld2013a.csv
13 Saving 9305 rows from ../Project_3/Library_Data\pupld2014a.csv
Number of saved DataFrames: 13

In [4]:
dfs[0].head(2)

,STABR,FSCSKEY,LIBID,LIBNAME,ADDRESS,CITY,ZIP,ZIP4,ADDRES_M,CITY_M,...,IMP32,IMP33,IMP34,IMP35,IMP36,IMP37,IMP39,IMP40,IMP41,year
0,AK,AK0001,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,73405 MILO FRITZ AVENUE,ANCHOR POINT,99556,0129,P.O. BOX 129,ANCHOR POINT,...,0,0,0,0,0,0,0,0,0,2002
1,AK,AK0002,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,3600 DENALI STREET,ANCHORAGE,99503,6093,3600 DENALI STREET,ANCHORAGE,...,0,0,0,0,0,0,0,0,0,2002

In [5]:
combined_df = pd.concat(dfs, ignore_index=True)
print(combined_df.head())

  STABR FSCSKEY       LIBID                        LIBNAME  \
0    AK  AK0001  AK0001-002    ANCHOR POINT PUBLIC LIBRARY
1    AK  AK0002  AK0002-011  ANCHORAGE MUNICIPAL LIBRARIES
2    AK  AK0003  AK0003-002       ANDERSON VILLAGE LIBRARY
3    AK  AK0006  AK0006-002   KUSKOKWIM CONSORTIUM LIBRARY
4    AK  AK0007  AK0007-002        BIG LAKE PUBLIC LIBRARY

                    ADDRESS          CITY    ZIP  ZIP4            ADDRES_M  \
0   73405 MILO FRITZ AVENUE  ANCHOR POINT  99556  0129        P.O. BOX 129
1        3600 DENALI STREET     ANCHORAGE  99503  6093  3600 DENALI STREET
2              FIRST STREET      ANDERSON  99744  3078       P.O. BOX 3078
3         420 STATE HIGHWAY        BETHEL  99559  1068       P.O. BOX 1068
4  3140 SOUTH BIG LAKE ROAD      BIG LAKE  99652  0829     P.O. BOX 520829

         CITY_M  ... MICROF DB_LO_OT F_DB_L_O  GAL GALMS POSTMS ELMATCIR  \
0  ANCHOR POINT  ...    NaN      NaN      NaN  NaN   NaN    NaN      NaN
1     ANCHORAGE  ...    NaN      NaN      NaN  NaN   NaN    NaN      NaN
2      ANDERSON  ...    NaN      NaN      NaN  NaN   NaN    NaN      NaN
3        BETHEL  ...    NaN      NaN      NaN  NaN   NaN    NaN      NaN
4      BIG LAKE  ...    NaN      NaN      NaN  NaN   NaN    NaN      NaN

  F_EMTCIR WIFISESS F_WIFISS
0      NaN      NaN      NaN
1      NaN      NaN      NaN
2      NaN      NaN      NaN
3      NaN      NaN      NaN
4      NaN      NaN      NaN

[5 rows x 233 columns]

In [6]:
combined_df["year"].head()

0    2002
1    2002
2    2002
3    2002
4    2002
Name: year, dtype: object

In [7]:
combined_df["year"].tail()

120314    2014
120315    2014
120316    2014
120317    2014
120318    2014
Name: year, dtype: object

In [8]:
pd.set_option('display.max_columns', None)
print(combined_df.columns.tolist())

['STABR', 'FSCSKEY', 'LIBID', 'LIBNAME', 'ADDRESS', 'CITY', 'ZIP', 'ZIP4', 'ADDRES_M', 'CITY_M', 'ZIP_M', 'ZIP4_M', 'CNTY', 'PHONE', 'WEB_ADDR', 'C_RELATN', 'C_LEGBAS', 'C_ADMIN', 'C_FSCS', 'GEOCODE', 'POPU_LSA', 'POPU_UND', 'CENTLIB', 'BRANLIB', 'BKMOB', 'MASTER', 'LIBRARIA', 'OTHPAID', 'TOTSTAFF', 'LOCGVT', 'STGVT', 'FEDGVT', 'OTHINCM', 'TOTINCM', 'SALARIES', 'BENEFIT', 'STAFFEXP', 'TOTEXPCO', 'OTHOPEXP', 'TOTOPEXP', 'CAPITAL', 'BKVOL', 'AUDIO', 'VIDEO', 'SUBSCRIP', 'HRS_OPEN', 'VISITS', 'REFERENC', 'TOTCIR', 'LOANTO', 'LOANFM', 'KIDCIRCL', 'KIDATTEN', 'ELMATEXP', 'ELACCEXP', 'ELMATS', 'ELSVCACC', 'INETACC', 'STFTERMS', 'GPTERMS', 'ERES_USR', 'PUB_FIPS', 'CNTYFIPS', 'YR_SUB', 'OBEREG', 'RSTATUS', 'IMP0', 'IMP1', 'IMP2', 'IMP3', 'IMP4', 'IMP5', 'IMP6', 'IMP7', 'IMP8', 'IMP9', 'IMP10', 'IMP11', 'IMP12', 'IMP13', 'IMP14', 'IMP15', 'IMP16', 'IMP17', 'IMP18', 'IMP19', 'IMP20', 'IMP21', 'IMP22', 'IMP23', 'IMP24', 'IMP25', 'IMP26', 'IMP27', 'IMP28', 'IMP29', 'IMP30', 'IMP31', 'IMP32', 'IMP33', 'IMP34', 'IMP35', 'IMP36', 'IMP37', 'IMP39', 'IMP40', 'IMP41', 'year', 'LSABOUND', 'F_POPLSA', 'F_POPUND', 'F_CENLIB', 'F_BRLIB', 'F_BKMOB', 'F_MASTER', 'F_LIBRAR', 'F_OTHSTF', 'F_TOTSTF', 'F_LOCGVT', 'F_STGVT', 'F_FEDGVT', 'F_OTHINC', 'F_TOTINC', 'F_SALX', 'F_BENX', 'F_TOSTFX', 'PRMATEXP', 'F_PRMATX', 'F_ELMATX', 'OTHMATEX', 'F_OTMATX', 'F_TOCOLX', 'F_OTHOPX', 'F_TOTOPX', 'CAP_REV', 'F_TCAPRV', 'F_TCAPX', 'F_BKVOL', 'EBOOK', 'F_EBOOK', 'F_AUDIO', 'F_VIDEO', 'DATABASE', 'F_DBASE', 'F_PRSUB', 'ESUBSCRP', 'F_ESUB', 'F_HRS_OP', 'F_VISITS', 'F_REFER', 'F_TOTCIR', 'F_LOANTO', 'F_LOANFM', 'F_KIDCIR', 'F_KIDATT', 'F_GPTERM', 'F_ER_USR', 'STARTDAT', 'F_STDAT', 'ENDDATE', 'F_ENDDAT', 'FILL44', 'FILLF44', 'FILL45', 'FILLF45', 'FILL46', 'FILLF46', 'FILL47', 'FILLF47', 'TOTPRO', 'F_TOTPRO', 'FILL65', 'FILLF65', 'TOTATTEN', 'F_TOTATT', 'LCAP_REV', 'F_LCAPRV', 'SCAP_REV', 'F_SCAPRV', 'FCAP_REV', 'F_FCAPRV', 'OCAP_REV', 'F_OCAPRV', 'KIDPRO', 'F_KIDPRO', 'STATSTRU', 'STATNAME', 'STATADDR', 'DB_LOC', 'F_DB_LOC', 'DB_ST', 'F_DB_ST', 'DB_OTH', 'F_DB_OTH', 'REGBOR', 'F_REGBOR', 'PITUSR', 'F_PITUSR', 'LONGITUD', 'LATITUDE', 'FIPSST', 'FIPSCO', 'FIPSPLAC', 'CENTRACT', 'CENBLOCK', 'CDCODE', 'MAT_CENT', 'CNTYPOP', 'LOCALE', 'YAPRO', 'F_YAPRO', 'YAATTEN', 'F_YAATT', 'AUDIO_PH', 'F_AUD_PH', 'AUDIO_DL', 'F_AUD_DL', 'VIDEO_PH', 'F_VID_PH', 'VIDEO_DL', 'F_VID_DL', 'MAT_TYPE', 'CBSA', 'MICROF', 'DB_LO_OT', 'F_DB_L_O', 'GAL', 'GALMS', 'POSTMS', 'ELMATCIR', 'F_EMTCIR', 'WIFISESS', 'F_WIFISS']

In [19]:
reduced_df = combined_df[['STABR','LIBID','LIBNAME','BKMOB','LONGITUD', 'LATITUDE','FIPSST','CNTYPOP', 'ADDRESS', 'CITY', 'ZIP','CNTY','LOCGVT',
                          'STGVT','FEDGVT', 'OTHINCM', 'TOTINCM', 'AUDIO', 'VIDEO', 'SUBSCRIP', 'HRS_OPEN', 'VISITS','KIDCIRCL', 'KIDATTEN','year']]
reduced_df.head()

,STABR,LIBID,LIBNAME,BKMOB,LONGITUD,LATITUDE,FIPSST,CNTYPOP,ADDRESS,CITY,ZIP,CNTY,LOCGVT,STGVT,FEDGVT,OTHINCM,TOTINCM,AUDIO,VIDEO,SUBSCRIP,HRS_OPEN,VISITS,KIDCIRCL,KIDATTEN,year
0,AK,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,0,NaN,NaN,NaN,NaN,73405 MILO FRITZ AVENUE,ANCHOR POINT,99556,KENAI PENINSULA,0,6400,0,5932,12332,170.0,290.0,12,780,6360,3998,335,2002
1,AK,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,0,NaN,NaN,NaN,NaN,3600 DENALI STREET,ANCHORAGE,99503,ANCHORAGE,8083056,142198,68794,521226,8815274,24989.0,20197.0,1645,11440,848980,464756,16000,2002
2,AK,AK0003-002,ANDERSON VILLAGE LIBRARY,0,NaN,NaN,NaN,NaN,FIRST STREET,ANDERSON,99744,DENALI,4000,6400,0,3000,13400,460.0,1325.0,15,520,2563,731,255,2002
3,AK,AK0006-002,KUSKOKWIM CONSORTIUM LIBRARY,0,NaN,NaN,NaN,NaN,420 STATE HIGHWAY,BETHEL,99559,BETHEL,65000,6400,0,130083,201483,2445.0,1294.0,87,2860,20470,3808,3204,2002
4,AK,AK0007-002,BIG LAKE PUBLIC LIBRARY,0,NaN,NaN,NaN,NaN,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,MATANUSKA-SUSITNA,136495,6400,0,0,142895,791.0,627.0,49,2132,23939,10956,1163,2002

In [20]:
renamed_df = reduced_df.rename(columns={"STABR":"STATE", "LIBID":"LIBRARY_ID","LIBNAME":"LIBRARY_NAME","BKMOB":"MOBILE_BOOKS","LONGITUD":"LONGITUDE","CNTYPOP":"COUNTY_POP",
                                          "CNTY":"COUNTY","OTHINCM":"OTHER_INCOME","TOTINCM":"TOTAL_INCOME","year":"YEAR"})
renamed_df.head()

,STATE,LIBRARY_ID,LIBRARY_NAME,MOBILE_BOOKS,LONGITUDE,LATITUDE,FIPSST,COUNTY_POP,ADDRESS,CITY,ZIP,COUNTY,LOCGVT,STGVT,FEDGVT,OTHER_INCOME,TOTAL_INCOME,AUDIO,VIDEO,SUBSCRIP,HRS_OPEN,VISITS,KIDCIRCL,KIDATTEN,YEAR
0,AK,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,0,NaN,NaN,NaN,NaN,73405 MILO FRITZ AVENUE,ANCHOR POINT,99556,KENAI PENINSULA,0,6400,0,5932,12332,170.0,290.0,12,780,6360,3998,335,2002
1,AK,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,0,NaN,NaN,NaN,NaN,3600 DENALI STREET,ANCHORAGE,99503,ANCHORAGE,8083056,142198,68794,521226,8815274,24989.0,20197.0,1645,11440,848980,464756,16000,2002
2,AK,AK0003-002,ANDERSON VILLAGE LIBRARY,0,NaN,NaN,NaN,NaN,FIRST STREET,ANDERSON,99744,DENALI,4000,6400,0,3000,13400,460.0,1325.0,15,520,2563,731,255,2002
3,AK,AK0006-002,KUSKOKWIM CONSORTIUM LIBRARY,0,NaN,NaN,NaN,NaN,420 STATE HIGHWAY,BETHEL,99559,BETHEL,65000,6400,0,130083,201483,2445.0,1294.0,87,2860,20470,3808,3204,2002
4,AK,AK0007-002,BIG LAKE PUBLIC LIBRARY,0,NaN,NaN,NaN,NaN,3140 SOUTH BIG LAKE ROAD,BIG LAKE,99652,MATANUSKA-SUSITNA,136495,6400,0,0,142895,791.0,627.0,49,2132,23939,10956,1163,2002

In [21]:
renamed_df.count()

STATE           120319
LIBRARY_ID      120318
LIBRARY_NAME    120319
MOBILE_BOOKS    120319
LONGITUDE        74342
LATITUDE         74342
FIPSST           74342
COUNTY_POP       65125
ADDRESS         120319
CITY            120319
ZIP             120319
COUNTY          120319
LOCGVT          120319
STGVT           120319
FEDGVT          120319
OTHER_INCOME    120319
TOTAL_INCOME    120319
AUDIO            73777
VIDEO            73777
SUBSCRIP        120319
HRS_OPEN        120319
VISITS          120319
KIDCIRCL        120319
KIDATTEN        120319
YEAR            120319
dtype: int64

In [22]:
final_lib_df = renamed_df[["STATE","YEAR","COUNTY","LIBRARY_ID","LIBRARY_NAME","CITY","ZIP","ADDRESS","FIPSST","LONGITUDE","LATITUDE",
                           "COUNTY_POP","VISITS","HRS_OPEN","MOBILE_BOOKS","KIDCIRCL","KIDATTEN","AUDIO","VIDEO","SUBSCRIP",
                           "LOCGVT","STGVT","FEDGVT", "OTHER_INCOME", "TOTAL_INCOME"]]
final_lib_df.head()

,STATE,YEAR,COUNTY,LIBRARY_ID,LIBRARY_NAME,CITY,ZIP,ADDRESS,FIPSST,LONGITUDE,LATITUDE,COUNTY_POP,VISITS,HRS_OPEN,MOBILE_BOOKS,KIDCIRCL,KIDATTEN,AUDIO,VIDEO,SUBSCRIP,LOCGVT,STGVT,FEDGVT,OTHER_INCOME,TOTAL_INCOME
0,AK,2002,KENAI PENINSULA,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,ANCHOR POINT,99556,73405 MILO FRITZ AVENUE,NaN,NaN,NaN,NaN,6360,780,0,3998,335,170.0,290.0,12,0,6400,0,5932,12332
1,AK,2002,ANCHORAGE,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,ANCHORAGE,99503,3600 DENALI STREET,NaN,NaN,NaN,NaN,848980,11440,0,464756,16000,24989.0,20197.0,1645,8083056,142198,68794,521226,8815274
2,AK,2002,DENALI,AK0003-002,ANDERSON VILLAGE LIBRARY,ANDERSON,99744,FIRST STREET,NaN,NaN,NaN,NaN,2563,520,0,731,255,460.0,1325.0,15,4000,6400,0,3000,13400
3,AK,2002,BETHEL,AK0006-002,KUSKOKWIM CONSORTIUM LIBRARY,BETHEL,99559,420 STATE HIGHWAY,NaN,NaN,NaN,NaN,20470,2860,0,3808,3204,2445.0,1294.0,87,65000,6400,0,130083,201483
4,AK,2002,MATANUSKA-SUSITNA,AK0007-002,BIG LAKE PUBLIC LIBRARY,BIG LAKE,99652,3140 SOUTH BIG LAKE ROAD,NaN,NaN,NaN,NaN,23939,2132,0,10956,1163,791.0,627.0,49,136495,6400,0,0,142895

In [23]:
final_lib_df['COUNTY'] = final_lib_df['COUNTY'].astype(str) + ' COUNTY'

In [24]:
final_lib_df.head()

,STATE,YEAR,COUNTY,LIBRARY_ID,LIBRARY_NAME,CITY,ZIP,ADDRESS,FIPSST,LONGITUDE,LATITUDE,COUNTY_POP,VISITS,HRS_OPEN,MOBILE_BOOKS,KIDCIRCL,KIDATTEN,AUDIO,VIDEO,SUBSCRIP,LOCGVT,STGVT,FEDGVT,OTHER_INCOME,TOTAL_INCOME
0,AK,2002,KENAI PENINSULA COUNTY,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,ANCHOR POINT,99556,73405 MILO FRITZ AVENUE,NaN,NaN,NaN,NaN,6360,780,0,3998,335,170.0,290.0,12,0,6400,0,5932,12332
1,AK,2002,ANCHORAGE COUNTY,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,ANCHORAGE,99503,3600 DENALI STREET,NaN,NaN,NaN,NaN,848980,11440,0,464756,16000,24989.0,20197.0,1645,8083056,142198,68794,521226,8815274
2,AK,2002,DENALI COUNTY,AK0003-002,ANDERSON VILLAGE LIBRARY,ANDERSON,99744,FIRST STREET,NaN,NaN,NaN,NaN,2563,520,0,731,255,460.0,1325.0,15,4000,6400,0,3000,13400
3,AK,2002,BETHEL COUNTY,AK0006-002,KUSKOKWIM CONSORTIUM LIBRARY,BETHEL,99559,420 STATE HIGHWAY,NaN,NaN,NaN,NaN,20470,2860,0,3808,3204,2445.0,1294.0,87,65000,6400,0,130083,201483
4,AK,2002,MATANUSKA-SUSITNA COUNTY,AK0007-002,BIG LAKE PUBLIC LIBRARY,BIG LAKE,99652,3140 SOUTH BIG LAKE ROAD,NaN,NaN,NaN,NaN,23939,2132,0,10956,1163,791.0,627.0,49,136495,6400,0,0,142895

In [25]:
final_lib_df.index.names = ['ID']

In [26]:
final_lib_df.head()

,STATE,YEAR,COUNTY,LIBRARY_ID,LIBRARY_NAME,CITY,ZIP,ADDRESS,FIPSST,LONGITUDE,LATITUDE,COUNTY_POP,VISITS,HRS_OPEN,MOBILE_BOOKS,KIDCIRCL,KIDATTEN,AUDIO,VIDEO,SUBSCRIP,LOCGVT,STGVT,FEDGVT,OTHER_INCOME,TOTAL_INCOME
ID,,,,,,,,,,,,,,,,,,,,,,,,,
0,AK,2002,KENAI PENINSULA COUNTY,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,ANCHOR POINT,99556,73405 MILO FRITZ AVENUE,NaN,NaN,NaN,NaN,6360,780,0,3998,335,170.0,290.0,12,0,6400,0,5932,12332
1,AK,2002,ANCHORAGE COUNTY,AK0002-011,ANCHORAGE MUNICIPAL LIBRARIES,ANCHORAGE,99503,3600 DENALI STREET,NaN,NaN,NaN,NaN,848980,11440,0,464756,16000,24989.0,20197.0,1645,8083056,142198,68794,521226,8815274
2,AK,2002,DENALI COUNTY,AK0003-002,ANDERSON VILLAGE LIBRARY,ANDERSON,99744,FIRST STREET,NaN,NaN,NaN,NaN,2563,520,0,731,255,460.0,1325.0,15,4000,6400,0,3000,13400
3,AK,2002,BETHEL COUNTY,AK0006-002,KUSKOKWIM CONSORTIUM LIBRARY,BETHEL,99559,420 STATE HIGHWAY,NaN,NaN,NaN,NaN,20470,2860,0,3808,3204,2445.0,1294.0,87,65000,6400,0,130083,201483
4,AK,2002,MATANUSKA-SUSITNA COUNTY,AK0007-002,BIG LAKE PUBLIC LIBRARY,BIG LAKE,99652,3140 SOUTH BIG LAKE ROAD,NaN,NaN,NaN,NaN,23939,2132,0,10956,1163,791.0,627.0,49,136495,6400,0,0,142895

In [29]:
print(final_lib_df.dtypes)

STATE            object
YEAR             object
COUNTY           object
LIBRARY_ID       object
LIBRARY_NAME     object
CITY             object
ZIP               int64
ADDRESS          object
FIPSST          float64
LONGITUDE       float64
LATITUDE        float64
COUNTY_POP      float64
VISITS            int64
HRS_OPEN          int64
MOBILE_BOOKS      int64
KIDCIRCL          int64
KIDATTEN          int64
AUDIO           float64
VIDEO           float64
SUBSCRIP          int64
LOCGVT            int64
STGVT             int64
FEDGVT            int64
OTHER_INCOME      int64
TOTAL_INCOME      int64
dtype: object

In [34]:
final_lib_df.astype({'YEAR': 'int64','KIDATTEN':'int64'}).dtypes

STATE            object
YEAR              int64
COUNTY           object
LIBRARY_ID       object
LIBRARY_NAME     object
CITY             object
ZIP               int64
ADDRESS          object
FIPSST          float64
LONGITUDE       float64
LATITUDE        float64
COUNTY_POP      float64
VISITS            int64
HRS_OPEN          int64
MOBILE_BOOKS      int64
KIDCIRCL          int64
KIDATTEN          int64
AUDIO           float64
VIDEO           float64
SUBSCRIP          int64
LOCGVT            int64
STGVT             int64
FEDGVT            int64
OTHER_INCOME      int64
TOTAL_INCOME      int64
dtype: object

In [35]:
final_lib_df.to_parquet("Library_data_2002_2014.parquet")

In [36]:
final_lib_df.to_csv("Library_data_2002_2014.csv")

In [38]:
len(final_lib_df.columns)

25