In [1]:
import pandas as pd

In [8]:
#load and read file
file_path = file_path = "C:\\Users\\LabUser\\Project_3\\School_Data\\ELSI_csv_export.csv"

# Skip to actual data
data = pd.read_csv(file_path, skiprows=6)
data.head()

,State Name,ANSI/FIPS State Code [State] Latest available year,Total Students All Grades (Excludes AE) [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2012-13,Total Students All Grades (Excludes AE) [Public School] 2011-12,Total Students All Grades (Excludes AE) [Public School] 2010-11,Total Students All Grades (Excludes AE) [Public School] 2009-10,Total Students All Grades (Excludes AE) [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2007-08,Total Students All Grades (Excludes AE) [Public School] 2006-07,...,Total Number of Counties [District] 2011-12,Total Number of Counties [District] 2010-11,Total Number of Counties [District] 2009-10,Total Number of Counties [District] 2008-09,Total Number of Counties [District] 2007-08,Total Number of Counties [District] 2006-07,Total Number of Counties [District] 2005-06,Total Number of Counties [District] 2004-05,Total Number of Counties [District] 2003-04,Total Number of Counties [District] 2002-03
0,ALABAMA,1.0,742993,744548,731725,732895,748836,742997,743778,743469,...,67,67,67,67,67,67,67,67,67,67
1,ALASKA,2.0,130944,131467,131166,132104,131661,130662,131029,132608,...,28,28,28,28,27,26,26,26,26,26
2,AMERICAN SAMOA,60.0,†,†,–,–,‡,‡,–,16427,...,1,†,†,†,†,1,1,1,1,1
3,ARIZONA,4.0,1097422,1087733,1078249,1069645,1078887,1085822,1087263,1065082,...,18,18,19,18,18,15,15,15,15,16
4,ARKANSAS,5.0,489724,486157,483114,482114,480559,478965,479016,476132,...,75,75,75,75,75,75,75,75,75,75

In [12]:
# replace special characters
data_cleaned = data.replace({"†": pd.NA, "–": pd.NA, "‡": pd.NA})
data_cleaned.head()

,State Name,ANSI/FIPS State Code [State] Latest available year,Total Students All Grades (Excludes AE) [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2012-13,Total Students All Grades (Excludes AE) [Public School] 2011-12,Total Students All Grades (Excludes AE) [Public School] 2010-11,Total Students All Grades (Excludes AE) [Public School] 2009-10,Total Students All Grades (Excludes AE) [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2007-08,Total Students All Grades (Excludes AE) [Public School] 2006-07,...,Total Number of Counties [District] 2011-12,Total Number of Counties [District] 2010-11,Total Number of Counties [District] 2009-10,Total Number of Counties [District] 2008-09,Total Number of Counties [District] 2007-08,Total Number of Counties [District] 2006-07,Total Number of Counties [District] 2005-06,Total Number of Counties [District] 2004-05,Total Number of Counties [District] 2003-04,Total Number of Counties [District] 2002-03
0,ALABAMA,1.0,742993,744548,731725,732895,748836,742997,743778,743469,...,67,67,67,67,67,67,67,67,67,67
1,ALASKA,2.0,130944,131467,131166,132104,131661,130662,131029,132608,...,28,28,28,28,27,26,26,26,26,26
2,AMERICAN SAMOA,60.0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16427,...,1,<NA>,<NA>,<NA>,<NA>,1,1,1,1,1
3,ARIZONA,4.0,1097422,1087733,1078249,1069645,1078887,1085822,1087263,1065082,...,18,18,19,18,18,15,15,15,15,16
4,ARKANSAS,5.0,489724,486157,483114,482114,480559,478965,479016,476132,...,75,75,75,75,75,75,75,75,75,75

In [18]:
data_cleaned = data_cleaned.apply(pd.to_numeric, errors='ignore')
data_cleaned.head()

C:\Users\LabUser\AppData\Local\Temp\ipykernel_11032\2582957747.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_cleaned = data_cleaned.apply(pd.to_numeric, errors='ignore')

,State Name,ANSI/FIPS State Code [State] Latest available year,Total Students All Grades (Excludes AE) [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2012-13,Total Students All Grades (Excludes AE) [Public School] 2011-12,Total Students All Grades (Excludes AE) [Public School] 2010-11,Total Students All Grades (Excludes AE) [Public School] 2009-10,Total Students All Grades (Excludes AE) [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2007-08,Total Students All Grades (Excludes AE) [Public School] 2006-07,...,Total Number of Counties [District] 2011-12,Total Number of Counties [District] 2010-11,Total Number of Counties [District] 2009-10,Total Number of Counties [District] 2008-09,Total Number of Counties [District] 2007-08,Total Number of Counties [District] 2006-07,Total Number of Counties [District] 2005-06,Total Number of Counties [District] 2004-05,Total Number of Counties [District] 2003-04,Total Number of Counties [District] 2002-03
0,ALABAMA,1.0,742993.0,744548.0,731725.0,732895.0,748836.0,742997.0,743778.0,743469.0,...,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0
1,ALASKA,2.0,130944.0,131467.0,131166.0,132104.0,131661.0,130662.0,131029.0,132608.0,...,28.0,28.0,28.0,28.0,27.0,26.0,26.0,26.0,26.0,26.0
2,AMERICAN SAMOA,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16427.0,...,1.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0
3,ARIZONA,4.0,1097422.0,1087733.0,1078249.0,1069645.0,1078887.0,1085822.0,1087263.0,1065082.0,...,18.0,18.0,19.0,18.0,18.0,15.0,15.0,15.0,15.0,16.0
4,ARKANSAS,5.0,489724.0,486157.0,483114.0,482114.0,480559.0,478965.0,479016.0,476132.0,...,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0

In [20]:
# drop rows with missing values
data_cleaned = data_cleaned.dropna()
data_cleaned

,State Name,ANSI/FIPS State Code [State] Latest available year,Total Students All Grades (Excludes AE) [Public School] 2013-14,Total Students All Grades (Excludes AE) [Public School] 2012-13,Total Students All Grades (Excludes AE) [Public School] 2011-12,Total Students All Grades (Excludes AE) [Public School] 2010-11,Total Students All Grades (Excludes AE) [Public School] 2009-10,Total Students All Grades (Excludes AE) [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2007-08,Total Students All Grades (Excludes AE) [Public School] 2006-07,...,Total Number of Counties [District] 2011-12,Total Number of Counties [District] 2010-11,Total Number of Counties [District] 2009-10,Total Number of Counties [District] 2008-09,Total Number of Counties [District] 2007-08,Total Number of Counties [District] 2006-07,Total Number of Counties [District] 2005-06,Total Number of Counties [District] 2004-05,Total Number of Counties [District] 2003-04,Total Number of Counties [District] 2002-03
4,ARKANSAS,5.0,489724.0,486157.0,483114.0,482114.0,480559.0,478965.0,479016.0,476132.0,...,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0,75.0
7,COLORADO,8.0,876147.0,863121.0,853669.0,842864.0,831906.0,817605.0,801867.0,793269.0,...,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0,63.0
15,GEORGIA,13.0,1723909.0,1703332.0,1685016.0,1677067.0,1667685.0,1655792.0,1649589.0,1629157.0,...,159.0,159.0,159.0,158.0,159.0,159.0,159.0,159.0,159.0,159.0
18,IDAHO,16.0,294911.0,283733.0,279494.0,275815.0,276299.0,274672.0,271976.0,267447.0,...,44.0,44.0,44.0,45.0,45.0,44.0,44.0,44.0,44.0,44.0
21,IOWA,19.0,494570.0,490630.0,485358.0,484856.0,482123.0,482735.0,482204.0,481688.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
23,KENTUCKY,21.0,683957.0,685167.0,681643.0,673128.0,676286.0,670030.0,666225.0,646634.0,...,120.0,120.0,120.0,119.0,120.0,120.0,120.0,120.0,120.0,120.0
24,LOUISIANA,22.0,695632.0,697224.0,702301.0,695772.0,690741.0,684745.0,680911.0,675716.0,...,64.0,64.0,63.0,63.0,63.0,64.0,64.0,64.0,64.0,64.0
28,MICHIGAN,26.0,1506946.0,1517572.0,1533660.0,1553716.0,1616836.0,1629880.0,1665742.0,1713777.0,...,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0,83.0
30,MISSISSIPPI,28.0,492586.0,493650.0,490619.0,489462.0,492481.0,491924.0,494122.0,495026.0,...,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0,81.0
31,MISSOURI,29.0,918288.0,917683.0,916300.0,916356.0,916468.0,917871.0,917188.0,920353.0,...,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0
32,MONTANA,30.0,144129.0,142908.0,142349.0,141693.0,141807.0,141899.0,142823.0,144418.0,...,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0,56.0
33,NEBRASKA,31.0,307677.0,302952.0,301296.0,298276.0,295261.0,292590.0,291244.0,287580.0,...,93.0,93.0,93.0,92.0,92.0,91.0,93.0,93.0,93.0,93.0
40,NORTH DAKOTA,38.0,103786.0,101111.0,97557.0,96323.0,95073.0,94728.0,95052.0,96670.0,...,53.0,54.0,54.0,54.0,54.0,53.0,53.0,53.0,53.0,53.0
42,OHIO,39.0,1722675.0,1728938.0,1738642.0,1750235.0,1762311.0,1813999.0,1821635.0,1832100.0,...,89.0,88.0,88.0,88.0,90.0,88.0,88.0,88.0,88.0,88.0
45,PENNSYLVANIA,42.0,1734286.0,1742584.0,1747825.0,1763594.0,1761333.0,1769786.0,1787813.0,1846420.0,...,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0
48,SOUTH CAROLINA,45.0,745591.0,735998.0,726003.0,724660.0,723142.0,718113.0,712319.0,703119.0,...,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0,46.0
51,TEXAS,48.0,5153642.0,5077632.0,5000193.0,4933737.0,4849426.0,4751003.0,4673455.0,4597733.0,...,253.0,253.0,253.0,253.0,253.0,253.0,253.0,253.0,253.0,253.0
53,UTAH,49.0,625461.0,613278.0,598294.0,585552.0,582793.0,559687.0,576244.0,523594.0,...,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
54,VERMONT,50.0,85407.0,86090.0,84031.0,85144.0,86137.0,90106.0,91728.0,93217.0,...,15.0,15.0,15.0,15.0,15.0,14.0,15.0,15.0,15.0,15.0
57,WEST VIRGINIA,54.0,280958.0,283044.0,282870.0,282879.0,282661.0,282718.0,282512.0,281074.0,...,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0